{% extends '@App/base.html.twig' %}

{% set seo_title = 'Insulter | Equip yourself with state of the art insults' %}

{% block body %}
    <div class="jumbotron">
        <h1>Welcome to Insulter</h1>
        <p class="lead">We have some badass insults for you...  to use.</p>

        <hr>
        <br />

        {% if form is defined %}

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.level) }}
                {{ form_errors(form.level) }}
                {{ form_widget(form.level) }}
            </div>

            <div>
                {{ form_widget(form.save) }}
            </div>

            {{ form_end(form) }}

        {% endif %}

        <br />

        {% if level is defined %}

            <p class="bg-primary"> Level is: {{ level }}</p>

        {% endif %}


    </div>

{% endblock %}