{% extends '@App/base.html.twig' %}

{% block body %}

<h1>Create new insult form</h1>


    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.content) }}
        {{ form_errors(form.content) }}
        {{ form_widget(form.content) }}
    </div>

    <div class="form-group">
        {{ form_label(form.level) }}
        {{ form_errors(form.level) }}
        {{ form_widget(form.level) }}
    </div>

    <div>
        {{ form_widget(form.save) }}
    </div>

    {{ form_end(form) }}

    <br />

{% endblock %}